<div class="landing-container">
    <div class="content">
        <h1 class="title">PreZent</h1>
        <p class="subtitle">Foi destinado para auxiliar no controle de presença estudantil</p>
        <div class="buttons">
            <button class="btn" (click)="navigateToLogin()">Login</button>
            <button class="btn" (click)="navigateToCadastro()">Cadastrar</button>
        </div>

        <div class="technologies-section">
            <h1 class="technologies-title">Tecnologias Usadas</h1>

            <div class="technology-item">
                <h1 class="technology-heading">Backend - C#</h1>
                <p class="technology-text">
                    Para o backend, utilizamos C#, pois um dos membros da equipe já tinha familiaridade com a linguagem, além do grande acervo de bibliotecas e recursos disponíveis para facilitar o desenvolvimento.
                </p>
            </div>

            <div class="technology-item">
                <h1 class="technology-heading">Banco de Dados - Supabase</h1>
                <p class="technology-text">
                    Para o banco de dados, usamos SQL como base e o hospedamos gratuitamente no Supabase, uma plataforma de banco de dados que oferece um plano gratuito e recursos poderosos.
                </p>
            </div>

            <div class="technology-item">
                <h1 class="technology-heading">Frontend - Angular</h1>
                <p class="technology-text">
                    Decidimos utilizar o Angular principalmente por sua estrutura simples e bem didática. Além disso, ele utiliza TypeScript, o que facilita muito o desenvolvimento. O Angular também conta com um compilador que otimiza o código, melhorando o desempenho.
                </p>
            </div>
        </div>
    </div>
</div>
